<div class="borderDiv">
    <form class="form-signin" #loginForm = "ngForm" (ngSubmit)="login(loginForm)">
        <h1>Login</h1>
        <div>
            <div class="loginDiv">
                <label for="login" class="sr-only">Login</label><br/>
                <input type="email" id="login" name="login" ngModel class="form-control" placeholder="login" required autofocus><br/>
            </div>
            <div class="loginDiv">
                <label for="password" class="sr-only">Password</label><br/>
                <input type="password" id="password" name="password" ngModel class="form-control" placeholder="password" required><br/>
            </div>
            <div class="loginDiv">
                <div *ngIf="invalidLogin" class="invalid">Invalid username or password</div>
                <div *ngIf="!invalidLogin" class="invalid"><br/></div>
            </div>
            <div class="loginDiv">
                <button type="submit">Sign in</button>
                <button >Sign Up</button>
            </div>
            
            
        </div>
    
    </form>
</div>
