<div>
    <h1><strong>List of users</strong></h1>
    <div *ngFor = "let user of users">
        <app-user [user]="user" (onEditUser)="editUser($event)"></app-user>
    </div>
</div>

<div>
    <div>
      <label for = "page">Strona: </label>
      <input id="page" name="page" type =  "number" [(ngModel)]="page"/>
    </div>
    <div>
      <label for = "rowsPerPage">Elementy na strone: </label>
      <input id="rowsPerPage" name="rowsPerPage" type =  "number" [(ngModel)]="rowsPerPage"/>
    </div> 
  
  </div>
  <button (click) = "refresh()">Refresh</button>
