
<div class="oneProduct">
    <div>
        <div>
            <div class="name">
                {{product.name}}
            </div>
    
        </div>
        <div>
           <div class="description">
               {{product.description}}
           </div>
    
        </div>
        <div class="buttons">
            {{product.price}} zl
            <a mat-button (click)="editProductToBasket(product)"><mat-icon>edit</mat-icon></a>
            <a mat-button (click)="deleteProduct(product)"><mat-icon>delete</mat-icon></a>
            <a mat-button (click)="addProductToBasket(product)"><mat-icon>add_shopping_cart</mat-icon></a>
        </div>

    </div> 
    <div class = "clear"></div>
</div>
