a{
    color: white;
}
a:hover, a:active{
    color: lightgrey;
}
navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menuButton{
    background-color: #3F51B5;
}
mat-sidenav{
    background-color:#6577db;
    width: 30vh;
}
mat-sidenav-content{
    height: 100vh;
}
.main{
    color: white;
    font-family: Roboto;
}