<div class = "productEdit">
    <div class = "formDiv" *ngIf="product!=null">
        <form  #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
            <div>
                <label for="name">Name</label>
                    <input type = "text" id="name" name = "name" [(ngModel)]="product.name"/>
                
            </div>
            <div>
                <label for="description">Description</label>
                    <input type = "text" id="description" name = "description" [(ngModel)]="product.description"/>
                
            </div>
            <div>
                <label for="price">Price</label>
                <input type = "number" id="price" name = "price" [(ngModel)]="product.price"/>
                
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
    
    <div class = "invalid" *ngIf="product == null">
        There is no such a product<br/>
        Back to list of products<br/>
        <button (click)="onCancel()">Cancel</button>
    </div>
</div>


